{% extends "template.html" %}
{% block body %}
    <script type="text/javascript">
    var map;
      function initialize() {
        var minZoom = 3;
        var mapOptions = {
          center: new google.maps.LatLng(51.4770578, -0.0005038),
          zoom: minZoom
        };
        map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        {% for earthquake in earthquakes %}
            var latLng{{ earthquake.get_id() }} = new google.maps.LatLng({{ earthquake.get_latitude() }}, {{ earthquake.get_longitude()}});
            var marker{{ earthquake.get_id() }} = new google.maps.Marker({
                position: latLng{{ earthquake.get_id() }},
                map: map,
                title: "Location: {{ earthquake.get_place() }}\nTime: {{ earthquake.get_time() }}\nMagnitude: {{ earthquake.get_magnitude() }}\nDepth: {{ earthquake.get_depth() }}km\nLatitude: {{ earthquake.get_latitude() }}\nLongitude: {{ earthquake.get_longitude() }}"
            });
            google.maps.event.addListener(marker{{ earthquake.get_id() }}, 'click', function() {
                map.setZoom(8);
                map.setCenter(marker{{ earthquake.get_id() }}.getPosition());
            });
        {% endfor %}
        google.maps.event.addListener(map, 'center_changed', function() { checkBounds(); });
        google.maps.event.addListener(map, 'zoom_changed', function() {
            if (map.getZoom() < minZoom) map.setZoom(minZoom);
        });
        var southWest = new google.maps.LatLng(-70.000, -180);
        var northEast = new google.maps.LatLng(70.000, 180);
        var allowedBounds = new google.maps.LatLngBounds(southWest, northEast);
        function checkBounds() {    
            if(! allowedBounds.contains(map.getCenter())) {
            var C = map.getCenter();
            var X = C.lng();
            var Y = C.lat();

            var AmaxX = allowedBounds.getNorthEast().lng();
            var AmaxY = allowedBounds.getNorthEast().lat();
            var AminX = allowedBounds.getSouthWest().lng();
            var AminY = allowedBounds.getSouthWest().lat();

            if (X < AminX) {X = AminX;}
            if (X > AmaxX) {X = AmaxX;}
            if (Y < AminY) {Y = AminY;}
            if (Y > AmaxY) {Y = AmaxY;}
            map.setCenter(new google.maps.LatLng(Y,X));
        }
        }
      }

    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <div id="map-canvas" />

{% endblock %}
